<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
  <meta name="msvalidate.01" content="D97EC64E62249E5AD2DA431BB007DED8" />
  <meta name="yandex-verification" content="9df2fc2081b276ab" />
  <meta property="fb:app_id" content="476046872587371" />
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <meta property="og:title" content="Hustle24" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Ideas, rants, and ocassionally something useful." />
  <meta property="og:site_name" content="Hustle24.io" />
  <meta property="og:image" content="https://hustle24.io/images/og.jpg" />
  <meta property="og:url" content="https://hustle24.io" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="Hustle24" />
  <meta property="twitter:description" content="Ideas, rants, and ocassionally something useful." />
  <meta property="twitter:image" content="https://hustle24.io/images/og.jpg" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link rel="stylesheet" href="//unpkg.com/tachyons@4.7.0/css/tachyons.min.css" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ff4500.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8110383735021540",
      enable_page_level_ads: true
    });
  </script>

</head>