<div class="sidebar fl w-30-l f5 pa4 mt4">
  <h3 class="mt4 tracked-tight primary mb4">
    Ideas, rants, and ocassionally something useful.
  </h3>
  <nav class="b mt4 mb4">
    <a class="db bn bg-primary white mb1 pl2 no-slide" href="/">Posts</a>
    <a class="db bn bg-primary white mb1 pl2 no-slide" href="https://www.coinbase.com/join/5950ea0de06d7b0abcf8c2d2">Buy Crypto</a>
  </nav>
  <style type="text/css">
    .sidebar-ad {
      display: none;
      width: 234px;
      height: 60px;
    }

    @media (min-width:1024px) {
      .sidebar-ad {
        display: block;
      }
    }
  </style>
  <div class="f6 sidebar-ad">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- hustle24 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8110383735021540" data-ad-slot="1908818638" data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>

</div>